<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        html{
        background:#f5f5f5;
    }

    body{
        background-color:white;
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
    }

    h1{
        color:white;
        text-align: center;
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .qui-header{
        background-color: #2bab79;
        height: 60px;
    }

    .plcRouteList{
        margin-left: 5px;
    }
    
    .pic{
        border-radius: 50%;
    }

    .bottom{
        position:absolute;
        top: 400px;
        left: 430px;
    }

    .bottom2{
        position:absolute;
        top: 780px;
        left: 430px;
    }

    .face{
        float: left;
        border:1px solid white
        width: 39px;
        height: 39px;
        boeder-radius:50%;
    }

    .face2{
        float: left;
        border:1px solid white
        width: 39px;
        height: 39px;
        boeder-radius:50%;
    }

    .title{
        color: white;
        white-space: 18px;
        font-size: 18px;
        font-weight:bolder;
        line-height: 40px;
        margin-left: 50px;
    }

    .day{
        position:absolute;
        top: 90px;
        right: 450px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color: #2bab79;
        line-height: 40px;
        color: #ffffff;
    }

    .day2{
        position:absolute;
        top: 490px;
        right: 450px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color: #2bab79;
        line-height: 40px;
        color: #ffffff;
    }

    em{
        font-style: normal;
        font-weight: bolder;
    }

    span{
        margin-left: 30px;
    }

    .qui-aside{
        position: absolute;
        top: 29px;
        left: 195px;
        border: 1px solid red;
        width: 200px;
        height: 870px;
        background-color: #2d3741;
    }

    ul{
        list-style: none;
    }

    .nav-aside{
        padding:80px 10px;
    }

    .nav-aside a{
        font-size: 16px;
        color: #ced1d5;
        line-height: 44px;
        padding-left: 15px;
        text-decoration: none;
        display: block;
    }

    .nav-aside a :hover{
        color: white;
        background-color: #2bab79;
    }

    .qui-footer{
        text-align: center;
        font-size: 10px;
        line-height: 20px;
    }

    .qui-footer a{
        text-decoration: none;
        color: #444;
        margin-left: 60px;
    }
    </style>
</body>
</html>